.overflow-hidden{overflow:hidden}.image-cover{background-color:#DEDEDE;width:100%;height:50vh;position:relative;overflow:hidden;background-size:cover;background-position:center center;background-repeat:no-repeat}.image-cover.one{background-image:url(/assets/images/bg-1.jpg)}.image-cover.two{background-image:url(/assets/images/bg-2.jpg)}.mousechase-icon__icon{width:100px !important;height:100px !important}


